export DJANGO_SECRET_KEY={{ django_secret_key }}
export DJANGO_SETTINGS_MODULE={{ django_settings_module }}
export DJANGO_CONFIGURATION={{ env|capitalize }}
export DJANGO_SENTRY_DSN={{ sentry_dsn }}
export DATABASE_URL={{ db_url }}
export DJANGO_DOMAIN={{ app_domain }}