{% load i18n %}
<h3>{% trans "Blog posts" %}</h3>
  {% if post_list %}
  {% for post in post_list %}
  <h4>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
  </h4>
  <ul class="post-meta">
    <li><i class="far fa-clock"></i> {{ post.created_at }}</li>
    <li><i class="fas fa-user"></i> {{ post.author }}</li>
    <li><i class="fas fa-eye"></i> {{ post.hits }}</li>
  </ul>
  {{ post.html_excerpt|safe }}
  {% endfor %}
  {% else %}
  <p>{% trans "There are no posts yet." %}</p>
  {% endif %}