{% extends "layouts/base_frontend.html" %}
{% comment %}{% load martortags %}{% endcomment %}
{% block meta %}
  {{ block.super }}
  {{ object.get_meta_tags }}
  <link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="/blog/">Blog</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
    </ol>
  </nav>
{% endblock %}
{% block content %}
  <h3>{{ post.title }}</h3>
  {{ post.html_content|safe }}
{% endblock %}
