{% extends "layouts/base_frontend.html" %}
{% load i18n %}
{% block title %}
<title></title>
{% endblock %}
{% block meta %}
<link rel="canonical" href="">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="robots" content="index,follow">
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
{% include "blog/_post_list.html" %}
{% endblock %}
