html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

h1 {
  font-size: 3rem;
}

.ptb-70 {
  padding: 70px 0;
}

.header.sticky .mainmenu li a.appao-btn,
.mainmenu li a.appao-btn,
.appao-btn {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 15px;
  padding: 6px 25px;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bolder;
}

.header.sticky .mainmenu li a.appao-btn:hover,
.mainmenu li a.appao-btn:hover,
.appao-btn:hover {
  background: #fff;
  border: 1px solid #fff;
  color: black;
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.4s;
  width: 100%;
  z-index: 99;
  padding: 18px 0;
}

.mainmenu {
  text-align: right;
}

.mainmenu li {
  display: inline-block;
  text-transform: uppercase;
}

.mainmenu li a {
  display: inline-block;
  color: #fff;
  position: relative;
  padding: 5px 16px;
  margin: 0 3px;
  border: 1px solid transparent;
}

.slicknav_menu {
  padding: 0;
  background: transparent;
}

.slicknav_menu a.active,
.mainmenu ul li a:hover,
.mainmenu ul li a.active {
  border: 1px solid #fff;
}

.mainmenu {
  display: block;
}

.slicknav_menu {
  display: none;
}

.header.sticky {
  border-bottom: 1px solid #fff;
  background: #000529; /* Old browsers */
  background: linear-gradient(to right, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%);
}

.header.sticky {
  padding: 10px 0;
}

.mainmenu li a.appao-btn {
  margin-left: 55px;
}

ul#primary-menu {
  margin-bottom: 0;
}


.hero-area {
  z-index: 1;
  padding-top: 80px;
  opacity: 0.85;
  position: relative;
  background-image: url(../img/hero-area.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.hero-area::before {
  content: "";
  top: 0;
  left: 0;
  opacity: 0.85;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
  background: #000529; /* Old browsers */
  background: linear-gradient(to right, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%);
}

.hero-area-content {
  color: #fff;
  padding: 0;
}

.hero-area-content h1 {
  color: #fff;
}

.hero-area-content p {
  margin: 28px 0 25px;
}

.hero-area-content .appao-btn {
  margin-top: 15px;
  margin-right: 15px;
}

.feature-area {
  z-index: 1;
  position: relative;
  background-image: url(../img/feature-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.feature-area::before {
  content: "";
  top: 0;
  left: 0;
  opacity: 0.85;
  right: 0;
  bottom: 0;
  background: #000529; /* Old browsers */
  background: -moz-linear-gradient(left, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%);
  z-index: -1;
  position: absolute;
}

.rotate-90 {
  transform: rotate(90deg);
}

.single-feature-box h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.single-feature-box li {
  margin-bottom: 45px;
  display: flex;
}

.single-feature-box li:last-child {
  margin-bottom: 0;
}

.feature-box-info {
  flex: 5;
}

.feature-box-icon {
  flex: 1;
  font-size: 20px;
  transition: all 0.4s;
}

.single-feature-box li:hover .feature-box-icon i::before {
  border-radius: 0;
}

.single-feature-box h2,
.single-feature-box h3,
.single-feature-box h4,
.single-feature-box {
  color: #fff;
}

.feature-box-icon i::before {
  border: 2px dashed #fff;
  width: 40px;
  display: inline-block;
  height: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 100%;
  transition: all 0.4s;
}

/*---------------------------------------
----- MAP AND FOOTER AREA CSS START -----
---------------------------------------*/
.google-map {
  height: 450px;
}

.footer {
  background: url(../img/footer-bg.jpg) no-repeat center / cover;
  position: relative;
  z-index: 1;
  padding-bottom: 35px;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000529; /* Old browsers */
  background: -moz-linear-gradient(left, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%);
  opacity: 0.85;
  z-index: -1;
}

.contact-form,
.contact-address {
  background: #fff;
  padding: 40px 65px;
  margin-bottom: 40px;
  margin-top: -40px;
  border: 1px solid #ddd;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  border: 1px solid #bbb;
}

.contact-form button {
  transition: all 0.4s;
}

.blog-reply button:hover,
.contact-form button:hover {
  background: #0074da;
  border-color: #0074da;
  color: #fff;
}

.contact-form h4, .contact-address h4 {
  margin-bottom: 20px;
  font-size: 20px;
}

.contact-address li {
  margin-bottom: 33px;
  display: flex;
}

.contact-address li .contact-address-icon {
  flex: 1;
}

.contact-address li .contact-address-info {
  flex: 6;
}

.contact-address li .contact-address-icon i::before {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  border: 1px solid #0074da;
  display: block;
  text-align: center;
  line-height: 39px;
  font-size: 18px;
  transition: all 0.4s;
}

.contact-address li .contact-address-info a {
  display: block;
}

.contact-address p {
  margin-bottom: 45px;
  padding-top: 10px;
}

.contact-address li:hover .contact-address-icon i::before {
  background: #0074da;
  color: #fff;
}

.subscribe-form {
  margin: 40px 0 40px;
  text-align: center;
}

.copyright-area ul li {
  display: inline-block;
}

.copyright-area ul li a {
  width: 35px;
  height: 35px;
  color: #0074da;
  background: #fff;
  display: inline-block;
  line-height: 35px;
  font-size: 16px;
  border-radius: 100%;
  margin: 0 5px;
}

.copyright-area ul li a:hover {
  background: #0074da;
  color: #fff;
}

.copyright-area ul {
  margin-bottom: 30px;
}

p.copyright-area {
  color: #fff;
  margin: 0 auto;
}

p.copyright-area a {
  color: #fff;
  border-bottom: 1px solid #fff;

}

.subscribe-form form {
  position: relative;
  max-width: 580px;
  margin: auto;
  z-index: 1;
  border-radius: 30px;
  display: inline-block;
  width: 100%;
  background: #fff;
}

.subscribe-form form input {
  background: transparent;
  border: 0;
  width: 70%;
  padding: 15px 30px;
  float: left;
  margin: 0;
}

.subscribe-form form button {
  width: 29%;
  padding: 15px 30px;
  border: 0;
  border-radius: 30px;
  background: #0074da;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  float: right;
  margin: 0;
  margin-right: -1%;
}

/*---------------------------------------
------ MAP AND FOOTER AREA CSS END ------
---------------------------------------*/